body {
  background-color: lightslategray;
  font-family: helvetica;
}

header {
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}


h1{
  margin: 5px;
}

h2{
  margin: 5px;
}

main {
  margin: 0 auto;
}

section {
  min-width: 800px;
  max-width: 1100px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 5px;
}

button {
  width: 150px;
  height: 150px;
  border: none;
  color: black;
  font-size: 25px;
}

button:hover {
  background-color: midnightblue;
  color: aliceblue;
}

.timer {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  color: aliceblue;
  font-size: 45px;
  line-height: 100px;
}

.controls {
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  padding: 5px;
  margin: 10px;
}
.keyboard {
  min-width: 800px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.key{
  width: 75px;
  height: 100px;
  background-color: aliceblue;
  margin: 5px;
  font-size: 15px;
}

.key:hover {
  opacity: .8;
}
.black {
  background-color: black;
  color: aliceblue;
}


.first-ocatave {
  opacity: 1;
}

.second-octave {
  opacity: 1;
}